@model ImageGallery.Models.ImagesListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>My pictures</h2>

<p>
    @Html.ActionLink("Add Picture", "Create")
</p>
<div class="row">
    @foreach (var item in Model.Images)
    {
        <div class= "col-sm-5">
            @if (item.ImageData != null)
            {
                <a href = "@Url.Action("GetImage", "Home", new { id = item.Id })" data-lightbox = "roadtrip">
                    <img class="img-responsive" id="one_img" src="@Url.Action("GetImage", "Home", new { id = item.Id })">
                </a>
            }
        </div>
    }
</div>
<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
</div>