@model ImageGallery.Models.ImagesListViewModel
@using ImageGallery.HtmlHelpers
@{
    ViewBag.Title = "Index";
}

<h2>My pictures</h2>

<p>
    @Html.ActionLink("Add Picture", "Create")
</p>
<table>
    <tr>
        <th>Pictures</th>
    </tr>

 @foreach(var item in Model.Images) {
        <td>
            @if (item.ImageData != null)
            {
                <img width="180" height="180" src = "@Url.Action("GetImage", "Home", new { id = item.Id })"/>
            }
        </td>
    }
</table>
<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
</div>